* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #03a9f4;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body {
    background-color: #f3e5f5;
    width: 100vw;
}

.filters {
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;

}
.filters label {
    margin-top: 10px;
    font-size: 20px;
}

.container {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 300px;
}

.container .country {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.container .country div {
    flex-basis: 32%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 5px;
    background-color: #ede7f6;
    transition: 0.3s;
}

.container .country div:hover {
    border: 1px solid #03a9f4;
}

.container .country div h2,
.container .country div h4 {
    text-align: center;
    margin-bottom: 10px;
}

.container .country div p {
    margin-bottom: 10px;
}

.container .country div div {
    border: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.container .country div div:hover {
    border: none;
}

.checkbox {
    display: none;
}

.checkbox-custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked+.checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #03a9f4;
    border-radius: 2px;
}